<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>home, bitter</title>
		<link rel="stylesheet" href="/assets/style.css">
	</head>
	<body>
		<div class="topnav">
			<a id="home" href="/"><b>bitter</b></a>
			<a href="#">find user</a>
			<a href="#">find post</a>
		</div>
		<div class="main">
			<h3>home, bitter</h3>
			<div class="post">
				<p class="body">post body</p>

				<div class="reply-section">
					<div class="reply">
						test
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
